<div class="form-group mb-4 field-wrapper{% if bound_field.errors %} has-error{% endif %}{% if field.is_hidden %} d-none{% endif %}">
  <div class="row">
    <div class="col-lg-2">
      <label for="{{ field.id_for_label }}" class="form-label">
        {% if bound_field.label %}
          {{ bound_field.label }}
        {% else %}
          {{ bound_field.name }}
        {% endif %}
        {% if field.required %}
          <span class="text-danger">*</span>
        {% endif %}
      </label>

      {% if help_text %}
        <div class="form-help-text">{{ help_text }}</div>
      {% endif %}
    </div>
    <div class="col-lg-10">
      {% block content %}

      {% endblock %}
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        {% if bound_field.errors %}
          <div class="invalid-feedback">
            {% for error in bound_field.errors %}
              <span>{{ error }}</span>
              {% if not forloop.last %}
                <span class="ms-1 me-1">|</span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
