<div class="form-group mb-3">
  <div class="row">
    <div class="col-lg-2">
      {% if widget_obj.field.label %}
        <label for="{{ widget.attrs.id }}" class="form-label">
          {{ widget_obj.field.label }} :{% if widget_obj.field.required %}
            <span class="text-danger">*</span>
          {% endif %}
        </label>
      {% endif %}
    </div>
    <div class="col-lg-10">
      {% block content %}

      {% endblock %}
      <div class="form-text">{{ help_text }}</div>

      <p>errors : {{ widget_obj.field.errors }}</p>

      {% if widget_obj.field.errors %}
        <div class="invalid-feedback d-block">
          {% for error in widget.field.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
