{% extends 'shared/forms/widgets/base_input.html' %}
{% load i18n static %}

{% block content %}
  {% if widget_obj.field.many %}
    <div class="d-flex justify-content-start align-items-center flex-wrap pick-image">
      {% for pic in widget_obj.field.pictures %}
        <div class="me-3 mb-3">
          <div class="image-box rounded-3">
            <img src="{{ pic.image.url }}" data-popup-open="{{ pic.image.url }}" data-popup-name="picture_preview_popup" data-popup-features="width={{ pic.image.width }},height={{ pic.image.height }}" width="150" height="150" alt="" />
            <div class="overlay d-flex flex-column justify-content-end align-items-center w-100 h-100">
              <div class="actions d-flex justify-content-evenly align-items-center w-100 mb-3">
                <a class="action-button cursor-pointer d-flex justify-content-center align-items-center" data-popup-open="{{ pic.image.url }}" data-popup-name="picture_preview_popup" data-popup-features="width={{ pic.image.width }},height={{ pic.image.height }}"><i class="bi bi-eye"></i></a>
                <a class="action-button cursor-pointer d-flex justify-content-center align-items-center"><i class="bi bi-pen"></i></a>
                <a class="action-button cursor-pointer d-flex justify-content-center align-items-center"><i class="bi bi-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="me-3 mb-3">
        <div class="image-box add-image rounded-3 cursor-pointer">
          <img src="{% static 'shared/images/defaults/dummy_150x150.jpg' %}" width="150" height="150" alt="Add new image" />
          <div class="overlay d-flex flex-column justify-content-end align-items-center w-100 h-100" data-popup-open="{% url 'core:picture:create' content_type=widget_obj.field.content_type.id object_id=widget_obj.field.object_id %}" data-popup-name="user_profile_popup">
            <div class="actions d-flex justify-content-evenly align-items-center w-100 mb-3">
              <a class="action-button cursor-pointer d-flex justify-content-center align-items-center"><i class="bi bi-plus-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-start align-items-center flex-wrap pick-image">
      <div class="me-3 mb-3">
        <div class="image-box add-image rounded-3 cursor-pointer">
          <img src="{{ widget_obj.field.picture.image.url }}" width="150" height="150" alt="{{ widget_obj.field.picture.alt }}" />
          <div class="overlay d-flex flex-column justify-content-end align-items-center w-100 h-100">
            <div class="actions d-flex justify-content-evenly align-items-center w-100 mb-3">
              <a class="action-button cursor-pointer d-flex justify-content-center align-items-center" data-popup-open="{{ widget_obj.field.picture.image.url }}" data-popup-features="width={{ widget_obj.field.picture.image.width }},height={{ widget_obj.field.picture.image.height }}" width="150" height="150"><i class="bi bi-eye"></i></a>
              <a class="action-button cursor-pointer d-flex justify-content-center align-items-center"><i class="bi bi-pen"></i></a>
              <a class="action-button cursor-pointer d-flex justify-content-center align-items-center"><i class="bi bi-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
