{% extends 'shared/admin/layout/layout.html' %}
{% load i18n forms utils %}

{% block head_ref %}
  {{ form.media.css }}
{% endblock %}

{% block content %}
  {% render_form form %}
{% endblock %}

{% block footer_ref %}
  {{ form.media.js }}
  <script>
    let popupData
    $(document).ready(function () {
      popupData = window.PopupManager.getData()
    })

    function pictureHasBeenManaged(res) {
      showToast('{% translate "Notification" %}', res.message, 'success')

      setTimeout(() => {
        window.PopupManager.reply({
          res: res.details,
          popupData: popupData
        })
        window.close()
      }, 800)
    }

    function pictureManagerHasError(res) {
      showToast('{% translate "Error" %}', res.responseJSON.error, 'error')
    }
  </script>
{% endblock %}
